parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/tmp
        - tests/fixtures/utils/MongoDBFunctionalTestCase.php

    ignoreErrors:
        - identifier: class.notFound
          path: tests/MongoDB/__snapshots__/


includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
